@import 'reset';

/** devars **/
@bg: black;
@fg: white;
@fn: monospace;
@fs: 0.999em;
@mq: (max-width: 500px);

/** mixins **/
.align(@alignment: normal) {
  text-align: @alignment;
}

.border(@bc: inherit, @bw: 1px, @br: 0) {
  border: @bw solid @bc;
  border-radius: @br;
}

.border-bottom(@bc: inherit, @bw: 1px) {
  border-bottom: @bw solid @bc;
}

.muscle(@align: flex-start, @justify: flex-start) {
  align-items: @align;
  display: flex;
  justify-content: @justify;
}

/** styles **/

html {
  background: @bg;
  color: @fg;
  font-family: @fn;
  font-size: @fs;
}

.container {
  line-height: 1.25em;
  margin: 0 auto;
  width: 69%;

  @media @mq {
    width: 100%;
  }

  a {
    color: inherit;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      color: seagreen;
    }
  }

  nav {
    .muscle(center, center);

    @media @mq {
      flex-flow: column;
    }

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;

      @media @mq {
        padding: 5px 10px;
      }
    }
  }

  #contact {
    input, textarea {
      background: inherit;
      .border(white);
      color: inherit;
      display: block;
      border-radius: 0;
      width: 100%;
    }
  }

  .tag {
    .border(white);
    display: inline-block;
    padding: 2px 6px;
    text-transform: uppercase;
  }
}
